.LoginPrompt {
  z-index: 1;
  top: 30%;
  left: 35%;
  height: 170px;
  width: 430px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  background-color: rgba(243, 241, 255, 0.9);
  border: 6px solid $steel-grey;
}

.close-button,
.loginprompt-button,
.signupprompt-button {
  font-weight: bold;
  border: 2px solid $border-color;
  cursor: pointer;
}

.close-button {
  float: left;
  margin: 5px;
  padding: 2% 6%;
}

.login-title {
  font-size: 22px;
}

.button-container {
  position: relative;
  text-align: center;
  margin: 12% auto;
}

.loginprompt-button,
.signupprompt-button {
  margin: 20px;
  padding: 3% 8%;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.loginprompt-button:hover,
.signupprompt-button:hover {
  background-color: $salmon;
  color: white;
}

.close-button:hover {
  background-color: $text-color;
  color: $off-white;
}

@media screen and (max-width: 1080px) {
  .LoginPrompt {
    left: 30%;
  }
}

@media screen and (max-width: 720px) {
  .LoginPrompt {
    left: 19%;
  }
}

@media screen and (max-width: 550px) {
  .LoginPrompt {
    left: 11%;
    width: 80%;
    height: 160px;
  }

  .close-button {
    float: left;
    margin: 5px;
    padding: 1% 2%;
  }
  
  .login-title {
    font-size: 16px;
    padding-top: 11px;
  }

  .loginprompt-button,
  .signupprompt-button {
    margin: 10px 15px;
    padding: 2% 8%;
  }
}