$heading-font: 'Fredoka One';
$body-font: 'Dosis';

$text-color: #062626;
$border-color:#164946;
$error-color: #884133;

$powder-blue: #D3CEED;
$steel-grey: #8F9DC3;
$off-white: #f3f1ff;
$opaque-white: rgba(243, 241, 255, 0.6);
$salmon: #edd3ce;

$text-outline: 3px 3px black;
$offset-shadow: 12px 12px rgba(243, 241, 255, 0.25);