.MovieContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  border-right: 3px solid $border-color;
  border-left: 3px solid $border-color;
  padding-bottom: 50px;
}

@media screen and (max-width: 1080px) {
  .MovieContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 720px) {
  .MovieContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .MovieContainer {
    grid-template-columns: 1fr;
  }
}